---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="search">
  <p>Search</p>
  <input type="text" name="q" id="search-str"></p>
</div>

<div id="comment" class="initial">
</div>

<div id="results" class="results">
</div>

<script>
let input = document.querySelector('#search-str');
let doResults = async function(searchString) {
  // setup output
  let output = document.querySelector('#results');
  output.innerHTML = ""; 
  let results = [];

  let comment = document.querySelector('#comment');
  comment.innerHTML = ""; 

  if (searchString) {
    // get search index
    let response = await fetch('/search.json');
    let r = await response.json();
    const searchIndex = r.search;
    // get search results
    for(let item in searchIndex ) {
      let found = searchIndex[item].text.indexOf(searchString);
      if(found != -1 ) {
        results.push(searchIndex[item])
      }
    }
  } else {
    let response = await fetch('/search.json');
    let r = await response.json()
    results = r.search;
    // empty search box
    let p = document.createElement("p");
    p.textContent = "Until you search, here are some random recipes"
    comment.appendChild(p);
  }
  
  // show results
  results.forEach(function(result) {
    let d = document.createElement("div");
    let a = document.createElement("a");
    a.textContent = result.title.replace("&#39;","'");
    a.setAttribute("href", result.url.replace("&#39;","'"));
    d.appendChild(a);
    let i = document.createElement("img");
    i.setAttribute("src", result.image);
    d.appendChild(i);
    output.appendChild(d);
  });
}
doResults("");

let typingTimer;                //timer identifier
let doneTypingInterval = 400;  //time in ms

//on keyup, start the countdown
input.addEventListener('keyup', () => {
    clearTimeout(typingTimer);
    typingTimer = setTimeout(doneTyping, doneTypingInterval);
});

//user is "finished typing," do something
async function doneTyping () {
  await doResults(input.value);
}
</script>

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

{% for result in results %}
  {{result.url}}
{% endfor %}

