---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


<form class="search">
  Search: <input type="text" name="q" id="search-str"></p>
</form>

<div id="results">
</div>


<script>
let input = document.querySelector('#search-str');
input.addEventListener('input', async function(e) {
  // get the search string
  let searchString = e.target.value;
  // get search index
  let response = await fetch('/search.json');
  let r = await response.json();
  const searchIndex = r.search;
  // get search results
  let results = [];
  for(let item in searchIndex ) {
    let found = searchIndex[item].text.indexOf(searchString);
    if(found != -1 ) {
      results.push(searchIndex[item])
    }
  }
  // limit to X and then make them show if search string is empty
  // populate search results
  let output = document.querySelector('#results');
  output.innerHTML = ""; 
  results.forEach(function(result) {
    let d = document.createElement("div");
    let a = document.createElement("a");
    a.textContent = result.title.replace("&#39;","'");
    a.setAttribute("href", result.url.replace("&#39;","'"));
    d.appendChild(a);
    let i = document.createElement("img");
    i.setAttribute("src", result.image);
    d.appendChild(i);
    output.appendChild(d);
  });
  
  console.log(results);
}, false);
</script>

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

{% for result in results %}
  {{result.url}}
{% endfor %}

