<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/w3.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="page">
      <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
      <header>
        <a href="{{ '/' | url }}"><img src="/img/cooking.png">
        </a>
        <h1 class="home">
          <a href="{{ '/' | url }}">{{ metadata.title }}</a>
        </h1>
      </header>
      <nav
        id="sidebar" class="w3-sidebar w3-bar-block w3-collapse w3-card">
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
        <ul>
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="w3-bar-item w3-button nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
      <main {% if templateClass %} class="{{ templateClass }}" {% endif %}>
        {{ content | safe }}
      </main>
      <footer></footer>
    </div>
    <!-- Current page: {{ page.url | url }} -->
  </body>
  <script>
    function w3_open() {
      document
        .getElementById("sidebar")
        .style
        .display = "block";
    }
    function w3_close() {
      document
        .getElementById("sidebar")
        .style
        .display = "none";
    }
  </script>
</html>